<div class="row">
	<div class="col-12">
	    <p>This webpage runs a paper library about relevant papers that investigated the semantics and measurements of cognitive workload in Human-Computer Interaction. This library was originally developed for a literature review that is based on this paper:</p>
		<cite>T. Kosch, J. Karolus, J. Zagermann, H. Reiterer, A. Schmidt, and P. Wozniak, ``A survey on measuring cognitive workload in human-computer interaction'', ACM Computing Surveys, 2023.</cite>

		<p><a href="https://doi.org/10.1145/3582272">Open Access Paper (PDF)</a></p>

		<p>Please cite this paper if you use this library for your work:</p>

		<pre><code class="tex bibtex">@article{kosch2023a,
			author = {Kosch, Thomas and Karolus, Jakob and Zagermann, Johannes and Reiterer, Harald and Schmidt, Albrecht and Wozniak, Pawel},
			title = {A Survey on Measuring Cognitive Workload in Human-Computer Interaction},
			year = {2023},
			issue_date = {January 2023},
			publisher = {Association for Computing Machinery},
			address = {New York, NY, USA},
			url = {https://doi.org/10.1145/3582272},
			doi = {10.1145/3582272},
			journal = {ACM Computing Surveys},
			month = {jan},
			articleno = {1},
			numpages = {37},
			keywords = {Cognitive Workload, Workload Assessment, Categorization, Questionnaires, Workload-Aware Computing, Physiological Sensing, Cognition-Aware Interfaces}
			}</code></pre>
			
	    <p>You can suggest new papers by clicking on "Add an Article" and filling out the Google Form. This supports us and the community to maintain an up-to-date version of the paper library. We require all indexed publications to be peer reviewed, in English language, archival, and relevant to cognitive workload in Human-Computer Interaction. The authors of the paper manage the paper library.</p>
	    <p>Corrections or additions to included publications are also welcome. We are open to making edits or adding labels we may have missed.</p>
	</div>
</div>